.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  padding : 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
